{{tweets.length}}


{{view SaidIt.DonutChartView
    isLoadedBinding = "controller.model.isLoaded"
    dataBinding = "controller.model.data"
  }}


<p>{{pctJoy}}</p>
<br/>
<p>{{pctAnger}}</p>
<br/>
<p>{{pctSadness}}</p>
<br/>
<p>{{pctAmbiguous}}</p>
<br/>
<p>{{pctFear}}</p>
<br/>
<p>{{pctDisgust}}</p>
<br/>
<p>{{pctSurprise}}</p>
<br/>
<br/>

{{#each tweets}}
  <br/>
  {{emotion}}
  <br/>
{{/each}}
