<div class="container">
  <div class="loading">
    {{outlet loading}}
  </div>

  {{#view SaidIt.showView
  }}
    <h3>Showing sentiment for {{handle}}'s {{tweets.length}} most recent tweets:</h3>
    <br/>
    <p>Percentage joyful: {{pctJoy}}</p>
    <br/>
    <p>Percentage angry: {{pctAnger}}</p>
    <br/>
    <p>Percentage sad: {{pctSadness}}</p>
    <br/>
    <p>Percentage ambiguous: {{pctAmbiguous}}</p>
    <br/>
    <p>Percentage fearful: {{pctFear}}</p>
    <br/>
    <p>Percentage disgusted: {{pctDisgust}}</p>
    <br/>
    <p>Percentage surprised: {{pctSurprise}}</p>
    <br/>
    <br/>
  {{/view }}
</div>
